.principal-title{
    padding-left: 20px;
    padding-top: 20px;
}

.card{
    border-left: 50px;
    border-right: 50px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 75px;
}
.card-body {
    background-color: #E4E9F7;
    border-style: outset;
    border-radius:10px; 
    box-shadow:0 3px 3px rgba(0,0,0,0.15);
}

.thead-dark {
    background-color:#11101D ;    
}

.color{
    color: white;
}




.table {
    position: relative;
}

.box{
  font-size: 30px;
  color: #11101D;
  height: 30px;
  min-width: 78px;
  line-height: 50px;
  text-align: center;
}

.text{
  display:flex;
  align-items: center;
  text-decoration: none;
  color: #11101D;
}

.ENP-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.hideDis {
    display:none;
}

.card-bttn{
    width: 10%;
    align-items: center;
    position:absolute;
    right: 0;
    background-color: #E4E9F7;  
    margin-top: 20px;
  }